/*
 * Tweaks and overrides to poole.css
 */

pre {
  padding: 0
}

code, pre {
  font-family: Droid Sans Mono;
  font-size: 0.8em;
}

.page, .post {
  margin-bottom: 2em;
}

.content {
  padding-top: 2em;
}
